
  
.first-section,
.third-section {
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 0; 
  height: 100vh; 
}


.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

.casecontainer {
  display: flex;
  align-items: center;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  position: relative; 
}


.close {
  color: #aaa;
  position: absolute;
  top: 0.4rem;
  right: 1rem;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




.worker-modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); 
}


.worker-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


#modalConfirm, #modalCancel {
  margin-top: 10px;
}


.dot-modal {
  display: none; 
  position: fixed; 
  z-index: 9999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
}


.dot-modal-content {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 300px;
    height: 300px; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.loading-dots {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    animation: pulsate 1s infinite alternate;
}

.blue {
    background-color: #072546;
}

.light {
    background-color: #b7e3fc;
}

@keyframes pulsate {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.5);
        opacity: 0.5;
    }
}

.clearcontainer {
  display: flex;
  align-items: center; 
  margin-top: 0.6rem;
}

.clearcontainer h4 {
  margin-right: 2rem;
}
