/* Custom Styles */
  
.first-section,
.third-section {
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 0; 
  height: 100vh; 
}

.first-section {
  background-image: url('leohoho-kXYExBLuZ9Q-unsplash.jpg');
}

.third-section {
  background-image: url('leohoho-kXYExBLuZ9Q-unsplash.jpg');
}


.btn-scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  font-size: 24px;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

.casecontainer {
  display: flex;
  align-items: center;
}

