/* Custom Styles */
  
.first-section,
.third-section {
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 0; 
  height: 100vh; 
}


.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

.casecontainer {
  display: flex;
  align-items: center;
}

